<!--
Variables:
isTestEmail
argOne
argTwo
-->

<h1>
  <%= locals.isTestEmail ? isTestEmail : '' %><br/>
  Hi <%= locals.argOne ? argOne : 'none' %><br/>

  <% for (let i = 0; i < 10; i++) { %>
    <strong><%= locals.argTwo ? argTwo : 'none' %></strong>
  <% } %>
</h1>
