<!--
Variables:
isTestEmail
-->

<!-- Show test email message -->
<% if (locals.isTestEmail) { %>
  <p style="color: red;"><%= isTestEmail %></p>
<% } %>

<!-- Shared Body Header -->
<div>
  <p>This is shared body header</p>
</div>
