<!-- <head></head> -->
<head>
  <!-- Add more meta tags -->
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  
  <!--
    [if (mso 16)]>
      <style type="text/css">
        a {text-decoration: none;}
      </style>
    <![endif]-->
    
    <!--[if gte mso 9]>
      <style>sup { font-size: 100% !important; }</style>
    <![endif]-->
    
    <!--[if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    <![endif]-->
    
    <!--[if mso]>
    
      <style type="text/css">
        ul {
          margin: 0 !important;
        }
        ol {
          margin: 0 !important;
        }
        li {
          margin-left: 47px !important;
        }
      </style>
    <![endif]
  -->
</head>